In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pydataset
import seaborn as sns
import itertools
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split
from wrangle import wrangle_zillow
import warnings
warnings.filterwarnings("ignore")
from env import host, user, password, get_db_url

In [21]:
def get_new_zillow_data():
    '''this function gathers selected data from the ZILLOW SQL DF
    and uses the get_db_url function to connect to said dataframe'''
    sql = '''
    SELECT *
    FROM
        properties_2017
       JOIN propertylandusetype using (propertylandusetypeid)
       JOIN predictions_2017 USING(parcelid)
    WHERE propertylandusedesc in ("Single Family Residential", 
                                  "Inferred Single Family Residential")
       AND transactiondate LIKE "2017%%";          
    '''
    return pd.read_sql(sql, get_db_url('zillow'))

In [24]:
df = get_new_zillow_data()
df

,parcelid,propertylandusetypeid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc,id,logerror,transactiondate
0,14297519,261.0,1727539,NaN,NaN,NaN,3.5,4.0,None,NaN,...,2016.0,537569.0,11013.72,None,NaN,6.059063e+13,Single Family Residential,0,0.025595,2017-01-01
1,17052889,261.0,1387261,NaN,NaN,NaN,1.0,2.0,None,NaN,...,2016.0,376000.0,5672.48,None,NaN,6.111001e+13,Single Family Residential,1,0.055619,2017-01-01
2,14186244,261.0,11677,NaN,NaN,NaN,2.0,3.0,None,NaN,...,2016.0,479489.0,6488.30,None,NaN,6.059022e+13,Single Family Residential,2,0.005383,2017-01-01
3,12177905,261.0,2288172,NaN,NaN,NaN,3.0,4.0,None,8.0,...,2016.0,36225.0,1777.51,None,NaN,6.037300e+13,Single Family Residential,3,-0.103410,2017-01-01
4,12095076,261.0,781532,1.0,NaN,NaN,3.0,4.0,None,9.0,...,2016.0,496619.0,9516.26,None,NaN,6.037461e+13,Single Family Residential,6,-0.001011,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,12412492,261.0,2274245,NaN,NaN,NaN,2.0,4.0,None,6.0,...,2016.0,221068.0,4175.08,None,NaN,6.037555e+13,Single Family Residential,77607,0.001082,2017-09-19
52437,11000655,261.0,673515,NaN,NaN,NaN,2.0,2.0,None,6.0,...,2016.0,283704.0,4478.43,None,NaN,6.037101e+13,Single Family Residential,77609,0.020615,2017-09-20
52438,17239384,261.0,2968375,NaN,NaN,NaN,2.0,4.0,None,NaN,...,2016.0,16522.0,1107.48,None,NaN,6.111008e+13,Single Family Residential,77610,0.013209,2017-09-21
52439,12773139,261.0,1843709,1.0,NaN,NaN,1.0,3.0,None,4.0,...,2016.0,16749.0,876.43,None,NaN,6.037434e+13,Single Family Residential,77611,0.037129,2017-09-21
52440,12826780,261.0,1187175,NaN,NaN,NaN,2.0,3.0,None,6.0,...,2016.0,382000.0,6317.15,None,NaN,6.037503e+13,Single Family Residential,77612,0.007204,2017-09-25

In [26]:
df.isnull().sum()

parcelid                            0
propertylandusetypeid               0
id                                  0
airconditioningtypeid           38803
architecturalstyletypeid        52371
basementsqft                    52394
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             52441
buildingqualitytypeid           18701
calculatedbathnbr                 137
decktypeid                      52052
finishedfloor1squarefeet        48060
calculatedfinishedsquarefeet       82
finishedsquarefeet12              247
finishedsquarefeet13            52441
finishedsquarefeet15            52441
finishedsquarefeet50            48060
finishedsquarefeet6             52276
fips                                0
fireplacecnt                    45198
fullbathcnt                       137
garagecarcnt                    34426
garagetotalsqft                 34426
hashottuborspa                  50926
heatingorsystemtypeid           18506
latitude                            0
longitude                           0
lotsizesquarefeet                 369
poolcnt                         41345
poolsizesum                     51574
pooltypeid10                    51997
pooltypeid2                     51370
pooltypeid7                     42432
propertycountylandusecode           0
propertyzoningdesc              18593
rawcensustractandblock              0
regionidcity                     1037
regionidcounty                      0
regionidneighborhood            33408
regionidzip                        26
roomcnt                             0
storytypeid                     52394
threequarterbathnbr             45717
typeconstructiontypeid          52365
unitcnt                         18594
yardbuildingsqft17              50504
yardbuildingsqft26              52378
yearbuilt                         116
numberofstories                 37880
fireplaceflag                   52360
structuretaxvaluedollarcnt         84
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50362
taxdelinquencyyear              50362
censustractandblock               123
propertylandusedesc                 0
id                                  0
logerror                            0
transactiondate                     0
dtype: int64

In [7]:
null_val = df.isnull()

In [9]:
nulls = [col for col in df.columns if col != null_val]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().