In [2]:
import numpy as pd
import pandas as pd
from env import host, user, password

## Exercises II

Let's set up an example scenario as perspective for our regression exercises using the Zillow dataset.

As a Codeup data science graduate, you want to show off your skills to the Zillow data science team in hopes of getting an interview for a position you saw pop up on LinkedIn. You thought it might look impressive to build an end-to-end project in which you use some of their Kaggle data to predict property values using some of their available features; who knows, you might even do some feature engineering to blow them away. Your goal is to predict the values of single unit properties using the obervations from 2017.

In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary Zillow data from the zillow database in the Codeup database server.

1. Acquire `bedroomcnt`, `bathroomcnt`, `calculatedfinishedsquarefeet`, `taxvaluedollarcnt`, `yearbuilt`, `taxamount`, and `fips` from the `zillow` database for all 'Single Family Residential' properties.
1. Using your acquired Zillow data, walk through the summarization and cleaning steps in your `wrangle.ipynb` file like we did above. You may handle the missing values however you feel is appropriate and meaninful; remember to document your process and decisions using markdown and code commenting where helpful.
1. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe witn no missing values in your `wrangle.py` file. Name your final function `wrangle_zillow`.

# Acquire zillow data

In [3]:
def get_db_url(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    It takes in a string name of a database as an argument.
    '''
    url = f'mysql+pymysql://{user}:{password}@{host}/{db}'
    return url

In [1]:
def get_new_zillow_data():
    '''this function gathers selected data from the ZILLOW SQL DF
    and uses the get_db_url function to connect to said dataframe'''
    sql = '''
    SELECT 
        bedroomcnt AS bedrooms, 
        bathroomcnt AS bathrooms,
        calculatedfinishedsquarefeet AS sq_ft,
        taxvaluedollarcnt AS tax_value,
        yearbuilt AS year_built,
        taxamount AS tax_amnt,
        fips
    FROM
        properties_2017
    JOIN propertylandusetype using (propertylandusetypeid)
    WHERE propertylandusedesc = "Single Family Residential"
    '''
    return pd.read_sql(sql, get_db_url('zillow'))

In [4]:
df = get_new_zillow_data()

In [5]:
df.head()

   bedrooms  bathrooms   sq_ft  tax_value  year_built  tax_amnt    fips
0       0.0        0.0     NaN    27516.0         NaN       NaN  6037.0
1       0.0        0.0     NaN       10.0         NaN       NaN  6037.0
2       0.0        0.0     NaN       10.0         NaN       NaN  6037.0
3       0.0        0.0     NaN     2108.0         NaN    174.21  6037.0
4       4.0        2.0  3633.0   296425.0      2005.0   6941.39  6037.0

In [ ]:
df.describe()

# Wrangle

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
round(df.dropna().shape[0] / df.shape[0], 5)

In [ ]:
# drop null values

df = df.dropna()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.columns.tolist()

In [ ]:
for col in df.columns:
    print('___________________________________')
    print(col)
    print(df[col].value_counts())
    print('-----------------------------------')

- Bedrooms -> int
- bath -> float
- yr built, FIPS, taxvaluedollarcnt -> int

In [ ]:
df["fips"] = df["fips"].astype(int)
df["yearbuilt"] = df["yearbuilt"].astype(int)
df["bedroomcnt"] = df["bedroomcnt"].astype(int)
df["taxvaluedollarcnt"] = df["taxvaluedollarcnt"].astype(int)
df["calculatedfinishedsquarefeet"] = df["calculatedfinishedsquarefeet"].astype(int)

In [ ]:
df.dtypes

In [ ]:
df.fips.value_counts()